/* fonts */
@font-face {
  font-family: Gotham;
  src: url(./Fonts/GothamBold.ttf);
}

@font-face {
  font-family: Helvatica;
  src: url(./Fonts/Helvetica\ Neue\ LT\ 23\ Ultra\ Light\ Extended.ttf);
}

@font-face {
  font-family: Gotham-light;
  src: url(./Fonts/Gotham-Light.otf);
}

.gotham {
  font-family: Gotham, sans-serif;
}

.helvatica {
  font-family: Helvatica, sans-serif;
}

.gotham-light {
  font-family: Gotham-light, sans-serif;
}

/* body style */
.blue-back {
  background-color:rgb(10, 10, 78) ;
}
.blue {
  color: rgb(96, 96, 238);
}
.light-blue {
  background-color:rgb(96, 96, 238);
}

main {
  background-image:
  linear-gradient(to bottom, rgba(37, 26, 86, 0.8), rgba(32, 37, 86, 0.8)),
    url(https://wallpaperaccess.com/full/3809928.jpg);
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  background-size: cover;
  backface-visibility: initial;
  background-position: center;
  background-attachment: fixed;
}
.row, .col-12{
  margin: 0;
  padding: 0;
}

figure img {
  height: 200px;
  width: 100%;
}
.hover-white:hover {
  /* background-color: white; */
  color: white;
}